.border {
  padding-bottom: 20px;
  border-bottom: 2px dashed #C0C0C0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
  color: #212529;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #212529;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px dashed #C0C0C0;
  padding-top: 20px;
  padding-right: 2.5%;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px dashed #C0C0C0;
}
header nav a {
  font-size: 2rem;
  text-decoration: none;
  padding-right: 10px;
  color: #212529;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
  header h1 {
    padding-bottom: 15px;
    font-size: 3rem;
  }
  header nav a {
    font-size: 1.5rem;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .hero {
  padding-bottom: 20px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .hero h2 {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .home .hero h2,
  .home .hero p {
    margin: 5%;
  }
}
.home .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    margin: 5%;
    width: 95%;
  }
  .home .content-section .text-content {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto 30px;
  }
  .home .content-section .content-pick {
    margin: 5%;
  }
}
.text-content {
  width: 48%;
  padding-top: 30px;
  padding-right: 1%;
}
.img-content {
  width: 48%;
  padding-top: 30px;
  padding-left: 1%;
}
.img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .img-content {
    width: 100%;
    justify-content: center;
  }
}
.inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .inverse-content .img-content {
    width: 100%;
    justify-content: center;
  }
}
.content-destination {
  padding-top: 30px;
  width: 75%;
  margin: 0 auto 30px;
}
.content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .content-destination {
    width: 90%;
  }
}
.content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 500px) {
  .content-pick {
    flex-direction: column;
    margin: 5%;
  }
}
.content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-pick .destination {
    width: 100%;
    margin: 5%;
  }
}
.content-pick a button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #17A2B8;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border-radius: 15px;
  font-size: 1.8rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  .content-pick a button .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #17A2B8;
    width: 400px;
    height: 45px;
    font-size: 2rem;
    border-radius: 15px;
    font-size: 1.8rem;
    text-decoration: none;
  }
}
.content-pick .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #17A2B8;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border-radius: 15px;
  font-size: 1.8rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  .content-pick .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #17A2B8;
    width: 400px;
    height: 45px;
    font-size: 2rem;
    border-radius: 15px;
    font-size: 1.8rem;
    text-decoration: none;
  }
}
